body{
    position: relative;
    display: flex;
    flex-direction: column;
}

#contact_modal {
    display: none; 
    
}

.contact_modal_on{
    position: absolute;
    left: 13px;
    padding-top: 92px;
    width: 100%;
    height: 100%;
    margin: unset;
    backdrop-filter: contrast(0.5);
}

.contact_info{
    display: flex;
    padding-top: 40px;
    flex-direction: column;
}

.contact_info h2{
    font-size: 64px;
    font-weight: normal;
    margin: unset;
    padding: unset;
}
.contact-form button{
    margin-top: 3%;
    align-self: flex-start;
}

#main{
    display: flex;
    flex-direction: column;
}



.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Modification according to js creation of photographer page photographer - header section */

.photograph-header h1{
    font-size: 64px;
    color: #d3573c;
    margin-bottom: unset;
}
.photograph-header h3{
    color: #901C1C;
    font-size: 24px;
}

.photograph-header p{
    font-size: 18px;
}

.photograph-header img{
    width: 200px;
    object-fit: cover;
    height: 200px;
    border-radius: 50%;
    align-self: center;
}


/*Modification according to js creation of photographer page photographer- media section*/

.photograph-media{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 5%;
}

.media-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #901C1C;
    font-size: 24px;
    align-items: center;
        
}

.picture{
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.video{
    width: 350px;
    height: 300px;
    cursor: pointer;
}


.card-info{
    background-color:#DB8876 ;
    width: 376px;
    position: sticky;
    bottom: 0px;
    left: 1150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    align-self: flex-end;
}

.info-like,
.info-price{
    display: flex;
    gap: 10px;
    font-size: 24px;
    font-weight: 500;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

.contact_button:hover,
.contact_button:focus{
    background-color: #D3573C;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 40%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;    
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
}

.text-area{
    width: 100%;
    height: 40%;
    border-radius: 5px;     
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/* CSS for the lightbox */
.lightbox{
    display: none;
    width: 70%;
    align-self: center;
    flex-direction: column;
    margin-top: 5%;
} 

.lightbox-container{
    display: flex;
}

.media{
    display: flex;
    justify-content: center;
        
}
.lightbox-img{
    width: 60%;
    max-height: 90%;
}

.backward-btn,
.forward-btn{
    padding: 20px;
    width: 5%;
    align-self: center;
    cursor: pointer;
}

.close-btn{
    width: 3%;
    align-self: flex-end;
    padding: 20px;
}

.selectContainer{
    display: flex;
    padding-left: 5%;
    display: flex;
    gap: 33px;
    padding-top: 2%;
    align-items: center;
}

.select{
   border-radius: 5%; 
   width: 10%;
   background-color:#901C1C;
   color: white; 
   height: 42px;
}

.media-likes{
    cursor: pointer;
    display: flex;
    gap: 5px;
}